.builds-item {
    &__title {
      font-size: 1.6rem;
      line-height: 1;
      margin-bottom: 0.4rem;
      color: goldenrod;
      font-weight: 600;
    }
    &__inner {
      border: 1px solid rgba(goldenrod, 32%);
      border-radius: 4px;
      padding: 2.6rem;
      padding-left: 2.4rem;
      display: flex;
      flex-direction: column;
      gap: 8px;
      height: 25rem;
      width: 53rem;
  ;
    }
    &__cards {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 16px;
      justify-content: flex-end;
    }
    &_card {
      color: goldenrod;
    }
  
    &__img {
      display: block;
      width: 4em;
      height: 6rem;
      border-radius: 4px;
      background-color: rgba(goldenrod, 16%);
      border: 1px solid rgba(goldenrod, 32%);
      text-indent: 100%;
    }
  
    &__name {
      word-wrap: break-word;
      font-size: 1.3rem;
      text-align: center;
      max-width: 55px;
      line-height: 1.2;
      color: white;
      font-weight: 400;
    }
  }