.spells-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  grid-auto-columns: 50px;
  overflow-x: scroll;
  padding-bottom: 8px;
  margin-bottom: -8px;

  @include tablet {
    grid-auto-columns: 64px;
  }
  &::-webkit-scrollbar {
    height: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(goldenrod, 32%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(goldenrod, 32%);
  }
}