.builds-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: scroll;
    height: 100%;
    &__item {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      align-items: center;
      justify-content: flex-end;
      
      @include tablet {
        align-items: center;
        flex-direction: row;
        gap: 24px;
      }
    }
    &__button {
      margin-top: 1.8rem;
      margin-right: auto;
      margin-left: auto;
    }
  }
  