.items-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 16px;
  padding-right: 8px;
  margin-right: -8px;
  overflow-y: scroll;
  height: 100vw;
  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  }

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(goldenrod, 32%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(goldenrod, 32%);
  }

  @include desktop {
    height: 100%;
  }
}